.menu{
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 30%;
    align-items: baseline;

    li{
        margin-left: 15px;
        
        &:last-child{
            font-size: 0.7rem;
            display: flex;
            align-items: center;
    
            &::after{
                background-image: url('./chevron-down-solid.svg');
                background-size: 5px 10px;
                width: 5px; 
                height: 10px;
                content:"";
                margin-left: 3px;
    
            }
        }
        a{
            text-decoration: none;
            color: black;
        }
    }
}
