.containerLogo {
  display: flex;
  align-items: center;

  .logo {
    font-family: $font-heading;
    font-size: 2rem;

    a {
      text-decoration: none;
      color: black;
    }
  }

  .pageName {
    font-size: 1.1rem;
    margin-top: 3px;

    &::before {
      content: "/";
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
