.containerFooterNav{
    display: flex;
    list-style: none;
    float: right;

    li{
        font-size: 1rem;
        padding-bottom: 1.5rem;
        
        a{
            text-decoration: none;
            color: black;
            font-family: $font-content;
        }
        &:nth-child(2)::before{
            content: "/";
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    @media #{$smartphone} {
        display: none;
      }
}